<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>Nautilus</vendor>
  <vendor_url>https://wiki.gnome.org/action/show/Apps/Files</vendor_url>
  <icon_name>nautilus</icon_name>

  <action id="org.gnome.nautilus">
    <description gettext-domain="nautilus">nautilus</description>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/nautilus</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">TRUE</annotate>
 </action>



</policyconfig>
