Package: reconstructor
Version: 2.9-20160403
Section: Utilities
Priority: optional
Architecture: all
Maintainer: Evan Hazlett <ejhazlett@gmail.com>  nx111 <gd.zhangdz@gmail.cm>
Installed-Size: 1600
Depends: python-gtk2, python-glade2, python(>=2.3), python-apt, squashfs-tools, coreutils, mkisofs, gcc, make, rsync, gnupg, dpkg-dev, fakeroot, apt-utils, xserver-xephyr,lzma,sed,gksu
Description: Reconstructor Ubuntu CD Creator
 Reconstructor Ubuntu CD Creator.
 .
 This package contains Reconstructor. Create custom Ubuntu cd's with 
 optional additional software, custom Gnome themes, and much more.
