Package: reconstructor
Version: 2.10.0-200419
Section: Utilities
Priority: optional
Architecture: all
Maintainer: Evan Hazlett <ejhazlett@gmail.com>  nx111 <gd.zhangdz@gmail.cm>
Installed-Size: 1600
Depends: python3(>=3.0), python-apt, squashfs-tools, coreutils, mkisofs, gcc, make, rsync, gnupg, dpkg-dev, fakeroot, apt-utils, xserver-xephyr,lzma,sed
Description: Reconstructor Ubuntu CD Creator
 Reconstructor Ubuntu CD Creator.
 .
 This package contains Reconstructor. Create custom Ubuntu cd's with 
 optional additional software, custom Gnome themes, and much more.
